*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .content{
      max-width: 1250px !important;
      margin: auto !important;
      padding: 0px 30px;
  }
  .navbar{
      position: fixed;
      z-index: 5;
      width: 100%;
      padding: 10px 0;
      background-color: white;
      transition: all 0.3s ease;
      box-shadow: 0 0 50px 0 rgb(0 0 0 / 10%);
      border-radius: 0px !important;

  }
  .navbar .sticky{
      background-color: violet;
  } 
  .navbar .content{
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1250px !important;
    margin: auto;
    padding: 0px 30px;
}
  
  a{
      text-decoration: none;
  }
  .navbar .menu-list {
      display: inline-flex;
  }
  .menu-list li{
      list-style: none;
  }
  .menu-list li a{
      color:rgb(57, 57, 126);
      text-decoration: none;
      margin-left: 25px;
      font-size: 16px;
      font-weight: bold;
      /* transition: all 0.3s ease; check later */
  }
  .banner{
      height: 100vh;
     padding-top: 150px;
     background-image: url("pic3.png");
     background-repeat: no-repeat;
  }
  .banner h1{
    margin-bottom: 20px !important;
  }
  .banner .banner-content .section-head h1 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    color: #1f2471;
    line-height: 1.2;
    font-size: 40px;
  }
  .banner .banner-content .section-head  h4{
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    color: #1f2471;
    line-height: 1.2;
    font-size: 25px; 
  }
  .banner .banner-content{
      align-items: left;
  }
  .banner .section-head{
      text-align: left;
  }
  .banner .banner-content a{
      text-decoration: none;
      color: #896eff;
  }
  .ecommerce-content .section-head {
      text-align: left;
  }
  .pro-fea .section-head h6{
      font-size: 30px;
  }
  .about{
      padding: 40px 0;
  }
  .icon{
      color: rgb(62, 58, 58);
      font-size: 20px;
      cursor: pointer;
      display: none;
  }
   .menu-list .cancel-btn i{
      position: absolute;
      right: 20px;
      top:20px;
   }
   .content-inner-2{
       padding-top: 80px;
       padding-bottom:0px ;
   }
   .about{
       animation-name: fadeInUp;
   }
   .uses{
       display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
   }
   .uses .icon-bx-wraper:hover{
     background-color: #6877cd;
   }
   .uses .icon-bx-wraper:hover .icon-content{
       color: white;
   }
   .uses .icon-bx-wraper:hover .icon-bx-sm{
       background-color: #94a1ef;
   }
   .uses .icon-bx-wraper:hover .icon-bx-sm a{
       color: white;
   }
   .uses .icon-bx-wraper:hover .wraper-effect{
    right: -40%;
    bottom: -20%;
    z-index: 0;
   }
   /* .media-animation{
    margin-bottom: 30px;
    visibility: visible;
 animation-duration: 2s;
 animation-delay: 0.2s;
 animation-name: fadeInLeft;
} */
   .section-head{
       margin-bottom: 40px;
       text-align: center;
   }
   .section-head h5{
    line-height: 1.5em;
    width: 80%;
    margin: auto;
    font-size: 34px;
    text-align: left;
    color: #1f2471;
    font-weight: 700;
    font-family: "Source Sans Pro", sans-serif;
   }
   .wraper-effect{
    height: 350px;
   width: 350px;
   background-color: rgba(255, 255, 255, 0.2);
   border-radius: 50%;
    position: absolute;
    transition: all 0.5s;
    z-index: -1;
    right: -100%;
    bottom: -100%;
   }
   .icon-bx-wraper{
    box-shadow: 0 0px 10px 4px rgb(31 66 135 / 10%);
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    transition: all 0.5s;
    overflow: hidden;
    z-index: 9;
    margin-bottom: 40px;
    animation-name: fadeInUp;
    visibility:visible;
   }
   .icon-bx-sm{
       width: 70px;
       height: 70px;
       display: inline-block;
       line-height: 80px;
       background-color: rgb(232, 229, 229);
       border-radius: 50%;
       margin: 15px 15px 30px;
   }
   .icon-bx-sm a{
       text-decoration: none;
   }
   .icon-bx-sm  i{
       font-size: 40px;
       margin-left: 15px;
   }
   .icon-content{
    font-family: "Source Sans Pro", sans-serif;
    color: #1f2471;
   }
   .icon-content h4{
   font-weight: 700;
   font-size:23px ;
   line-height: 1.2;
   margin-bottom: 15px;
   }
   .icon-content p{
    font-size:17px ;
    font-weight: 500px;
   } 
   .section-head h6{
    line-height: 1.5em;
    width: 30%;
    display: inline-block;
    margin: auto;
    font-size: 34px;
    text-align: center;
    color: #1f2471;
    font-weight: 700;
    font-family: "Source Sans Pro", sans-serif;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: rgba(31, 36, 113, 0.1);
   }
   .content-inner{
       padding-top: 100px;
       padding-bottom: 70px;
   }
   
   .media img{
    height: auto;
    max-width: 100%;
    vertical-align: middle;
   }
   .media-animation{
       margin-bottom: 30px;
       visibility: visible;
    animation-duration: 2s;
    animation-delay: 0.2s;
    animation-name: fadeInLeft;
   }
   .media-conntent .section-head{
       text-align: left !important;
   }
   .media-conntent{
    visibility: visible;
    animation-duration: 2s;
    animation-delay: 0.4s;
    animation-name: fadeInRight;
      padding-left: 60px;
      padding-top: 100px; 
   }
   .media-conntent a{
       text-decoration: none;
       color:#896eff ;
   }
   .slide a{
       z-index: 1;
       color:black;
   }
   .stats-content{
    visibility: visible;
    animation-duration: 2s;
    animation-delay: 0.2s;
    animation-name: fadeInRight;
   }
   .stats-content a{
   text-decoration: none;
       color:#896eff ;
}
   .stats-media{
    visibility: visible;
    animation-duration: 2s;
    animation-delay: 0.2s;
    animation-name: fadeInLeft;
   }
   .btn-link:hover {
    text-decoration: none;
}
   .studio-media{
    visibility: visible;
    animation-duration: 2s;
    animation-delay: 0.2s;
    animation-name: fadeInLeft;
   }
   .studio-content{
    visibility: visible;
    animation-duration: 2s;
    animation-delay: 0.4s;
    animation-name: fadeInRight;
      padding-left: 60px;
   }
   .studio-content a{
    text-decoration: none;
    color:#896eff ;
   }
   .studio-content p{
    font-family: "Source Sans Pro", sans-serif;
    font-size: 17px;
    font-weight: 500px;
    color: #505489;
   }
   .broadcast-media{
    visibility: visible;
    animation-duration: 2s;
    animation-delay: 0.2s;
    animation-name: fadeInLeft; 
   }
   .broadcast-content{
    visibility: visible;
    animation-duration: 2s;
    animation-delay: 0.2s;
    animation-name: fadeInRight;
   }
   .broadcast-content a{
    text-decoration: none;
    color:#896eff ;
   }
   .cta-media{
    visibility: visible;
    animation-duration: 2s;
    animation-delay: 0.2s;
    animation-name: fadeInLeft;   
   }
   .cta-content{
    visibility: visible;
    animation-duration: 2s;
    animation-delay: 0.4s;
    animation-name: fadeInRight;  
   }
   .cta-content a{
    text-decoration: none;
    color:#896eff ;
   }
   .ecommerce-content{
    visibility: visible;
    animation-duration: 2s;
    animation-delay: 0.4s;
    animation-name: fadeInLeft; 
   }
   .ecommerce-content a{
    text-decoration: none;
    color:#896eff ;
   }
   .ecommerce-media{
    visibility: visible;
    animation-duration: 2s;
    animation-delay: 0.2s;
    animation-name: fadeInRight;   
   }
   .contact-content{
    visibility: visible;
    animation-duration: 2s;
    animation-delay: 0.4s;
    animation-name: fadeInLeft; 
   }
   .contact-content a{
    text-decoration: none;
    color:#896eff ;
   }
   .contact-media{
    visibility: visible;
    animation-duration: 2s;
    animation-delay: 0.2s;
    animation-name: fadeInRight;    
   }
   .section-head .sub-title {
    padding: 10px 30px;
    display: inline-block;
    border-radius: 10px;
    font-size: 18px !important;
    font-weight: 600 !important;
    margin-bottom: 30px;
    color:  #896eff;
    margin-bottom: 0;
   }
   .section-head .title{
    line-height: 1.2;
    font-weight: 700;
    font-size: 40px;
    color: #1f2471;
   }
   .media-conntent p{
    font-family: "Source Sans Pro", sans-serif;
    font-size:17px ;
    font-weight: 500px;
    color: #505489;
   }
   .btn{
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
   }
   .btn-link i{
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 15px 20px rgb(31 66 135 / 10%);
    font-size: 24px;
    background-color: #896eff;
    color: #fff;
    margin-right: 10px;
   }
   .stats{
       background-color: rgb(242, 241, 241);
   }
   .stats-content .section-head{
       text-align: left;
   }
   .stats p{
    font-family: "Source Sans Pro", sans-serif;
    font-size: 17px;
    font-weight: 500px;
    color: #505489;   
   }
   .studio-content{
    padding-left: 60px;
    padding-top: 70px;
   }
   .studio-content .section-head{
    text-align: left;
   }
   .studio-content .section-head .sub-title{
       margin-bottom: 0;
   }
   .broadcast-content .section-head{
    text-align: left;
   }
   .broadcast-content p{
   font-family: "Source Sans Pro", sans-serif;
    font-size: 17px;
    font-weight: 500px;
    color: #505489;
   }
   .broadcast-content{
       padding-top: 100px;
   }
   .cta{
    background-color: rgb(242, 241, 241);
   }
   .cta1{
       align-items: center !important;
   }
   .cta .section-head{
       text-align: left;
   }
   .cta-content p{
    font-family: "Source Sans Pro", sans-serif;
    font-size: 17px;
    font-weight: 500px;
    color: #505489;
   }
   .cta-content{
       padding-left: 60px;
   }
   .cta .media img{
       padding-top: 30px;
   }
   .move-1 {
    -webkit-transform-origin: 35% 0;
    transform-origin: 35% 0;
    -webkit-animation: swinging 7s ease-in-out 3s forwards infinite;
    animation: swinging 7s ease-in-out 3s forwards infinite;
}
@-webkit-keyframes swinging{
    0%{-webkit-transform: rotate(3deg);}
    50%{-webkit-transform: rotate(-1deg)}
    100%{-webkit-transform: rotate(4deg);}
}
 
@keyframes swinging{
    0%{transform: rotate(3deg);}
    50%{transform: rotate(-1deg)}
    100%{transform: rotate(4deg);}
}
 .icon-bx-md{
    width: 80px;
    height: 80px;
    display: inline-block;
    line-height: 90px;
    background-color: white;
    border-radius: 50%;
    margin: 25px 25px ;
}
.icon-bx-md i{
    font-size: 40px;
    margin-left: 20px;
    margin-right: 40px;
}
.icon-bx-md a{
    text-decoration: none;
}
.one{
    border: 3px solid #ff586e !important;
}
.one a{
    color:#ff586e  ;
}
.two{
    border: 3px solid #ffa808 !important;
}
.two a{
    color: #ffa808;
}
.three{
    border: 3px solid #029e76 !important;
}
.three a{
    color: #029e76; 
}
.ecommerce-media{
    padding-top: 40px;
}
.content-wraper .icon-bx-wraper{
    display: flex;
    align-items: center;
    box-shadow:none;
    padding: 0px;
    border: none;
    border-radius: 0px; 
    margin-bottom: 10px;
}
.middle{
    margin-left: 100px;
}
.ecommerce-content .sub-title{
    padding: 10px 20px;
}
/* box-shadow: 0 0px 10px 4px rgb(31 66 135 / 10%);
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    transition: all 0.5s;
    overflow: hidden;
    z-index: 9;
    margin-bottom: 40px;
    animation-name: fadeInUp;
    visibility:visible; */
    .icon-bx-wraper .business-icon-1{
        margin-left: 55px;
        background-color: #ffa808;
        box-shadow: 0 2px 15px rgb(255 168 8 / 50%);
   }
   .business .icon-bx-wraper{
       margin-bottom: 0px;
       box-shadow: none;
       transition: all 0.5s;
   }
   .business .icon-bx-wraper:hover{
    padding: 30px;   
   box-shadow: 0 0px 10px 4px rgb(31 66 135 / 10%);
   }
   .business .o1:hover .background-1{
       background-position: right;
   }
   .business .t2:hover .background-2{
       background-position: right;
   }
   .business .t3:hover .background-3{
       background-position: right;
   }
   .business .f5:hover .background-5{
       background-position: right;
   }
   .business .s6:hover .background-6{
       background-position: right;
   }
   .business .s7:hover .background-7{
       background-position: right;
   }
   .business .e8:hover .background-8{
       background-position: right;
   }
   .background-1{
    background-image: url(yellow.png);
    background-repeat: no-repeat;
    position: relative;
    transition: all 1s;
    background-position: left;
   }
   .background-2{
    background-image: url(red.png);
    background-repeat: no-repeat;
    position: relative;
    transition: all 1s;
    background-position: left;
   }
   .background-3{
    background-image: url(green.png);
    background-repeat: no-repeat;
    position: relative;
    transition: all 1s;
    background-position: left;
   }
   .background-5{
    background-image: url(maroon.png);
    background-repeat: no-repeat;
    position: relative;
    transition: all 1s;
    background-position: left;
   }
   .background-6{
    background-image: url(orange.png);
    background-repeat: no-repeat;
    position: relative;
    transition: all 1s;
    background-position: left;
   }
   .background-7{
    background-image: url(skyblue.png);
    background-repeat: no-repeat;
    position: relative;
    transition: all 1s;
    background-position: left;
   }
   .background-8{
    background-image: url(red.png);
    background-repeat: no-repeat;
    position: relative;
    transition: all 1s;
    background-position: left;
   }

   .icon-bx-wraper .business-icon-2{
        margin-left: 55px;
        background-color: #ff586e;
        box-shadow: 0 2px 15px rgb(255 88 110 / 50%);
   }
   .icon-bx-wraper .business-icon-3{
    margin-left: 55px;
    background-color: #029e76;
    box-shadow: 0 2px 15px rgb(2 158 118 / 50%);
   }
   .icon-bx-wraper .business-icon-4{
    margin-left: 55px;
    background-color: #5543d1;
    box-shadow: 0 2px 15px rgb(85 67 209 / 50%);
   }
   .icon-bx-wraper .business-icon-5{
    margin-left: 55px;
    background-color: #9e0168;
    box-shadow: 0 2px 15px rgb(158 1 104 / 50%);;
   }
   .icon-bx-wraper .business-icon-6{
    margin-left: 55px;
    background-color: #ff8853;
    box-shadow: 0 2px 15px rgb(255 136 83 / 50%)
   }
   .icon-bx-wraper .business-icon-7{
    margin-left: 55px;
    background-color: #00aeff;
    box-shadow: 0 2px 15px rgb(0 174 255 / 50%)
   }
   .icon-bx-wraper .business-icon-8{
    margin-left: 55px;
    background-color: #ff586e;
    box-shadow: 0 2px 15px rgb(255 136 83 / 50%);
   }
   .business a{
       color: white;
       text-decoration: none;
   }
   .contact-content .section-head{
       text-align: left;
   }
   .form{
       align-items: center;
   }
   .form-control{
    box-shadow: 0 0px 10px 4px rgb(31 66 135 / 10%);
    height: 45px;
    border-radius: 1.5rem !important;
    padding: 10px 20px;
    position: relative;
    font-size: 15px;
    border: none;
    margin-bottom: 20px;
   }
   .form a{
       text-decoration: none !important;
       padding-left: 0;
   }
   .contact-media{
       padding-top: 60px;
   }
   .site-footer{
       background-image: url(bg4.png);
       background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: auto !important;
    background-color: #0e1b1f;
    background-size: contain;
   }
   .footer-logo{
       margin-bottom: 30px;
   }
   .footer-service{
       margin-bottom: 30px;
       padding-left: 100px;
   }
   .footer-policy{
       margin-bottom: 30px;
       padding-left: 100px;
   }
   .footer-title{
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
    color: #fff;
    line-height: 1.2;
   }
   .footer-service ul li{
       list-style: none;
   }
   .footer-service ul li a{
       text-decoration: none;
       color: white;
       position: relative;
    padding: 5px 0 5px 0;
    display: block;
    transition: all 0.5s;
    font-size: 14px;
   }
   .footer-policy ul li{
    list-style: none;
}
.footer-policy ul li a{
    text-decoration: none;
    color: white;
    position: relative;
 padding: 5px 0 5px 0;
 display: block;
 transition: all 0.5s;
 font-size: 14px;
}
.footer-policy ul li a:hover{
    padding: 5px 0 5px 10px;
}
.footer-service ul li a:hover{
    padding: 5px 0 5px 10px;
}
.footer-bottom{
    background-color: #1f343b;
    padding: 10px 0;
    font-size: 15px;
}
.footer-copyrights{
    align-items: center !important;
}
.text-left {
    text-align: left !important;
}
.text-right {
    text-align: right !important;
}
.footer-bottom{
    color: white;
}
.footer-bottom .copyright a{
     text-decoration: none;
     outline: none;
    font-weight: 500;
    color: white;
}
.footer-bottom .copyright {
    font-weight: 500px;
}
.social-media-icons ul{
    display: flex;
    flex-direction: row;
}
.social-media-icons ul li{
    list-style: none;
    /* width: ; */
}
.social-media-icons ul li a{
    text-decoration: none;
    color: #896eff;
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50px;
    font-size: 14px;
    background-color: #fff;
    transition: all 0.5s;
    margin: 2px;
}
.social-media-icons ul li a:hover{
    color:white ;
    background-color: #896eff;
}
.subscribe{
    padding: 75px 60px;
    background-color: #fff;
    z-index: 99;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0px 10px 4px rgb(31 66 135 / 10%);
    background-image: url(pattern3.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 50px;
}
.subscribe-content{
    align-items: center;
}
.subscribe .title{
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    color: #1f2471;
    margin-top: 5px;
}
.subscribe .form-control{
    box-shadow: 0 0px 10px 4px rgb(31 66 135 / 10%);
    height: 45px;
    border-radius: 1.5rem !important;
    padding: 10px 20px;
    position: relative;
    font-size: 15px;
}
.subscribe .input-grp{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}


    

  @media (max-width:868px){
    body.disabled{
        overflow: hidden;
      }
    .icon{
          display: block;
      }
      .icon.hide{
        display: none;
      }
    .navbar .menu-list{
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 80%;
        max-width: 400px;
        display: block;
        text-align: left;
        background-color: white;
        transition: all 0.3s ease;
    } 
    .navbar .menu-list.show{
        left: 0%;
    }
    
    .navbar .menu-list li{
        margin-top: 30px;
    }
    .navbar .menu-list li a{
        font-size: 18px;
    }

    }